.body {
 margin:0 0 0 0;
    padding: 0 0 0 0;
    font-size: 16px;
}


b {
 font-family: 'Montserrat', sans-serif;
}

.container {
     display: flex; 
}

.description {
 display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


.description p {
    padding: 0 10% 0 10%;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    line-height: 145%;
    
}

header {
 display: flex;   
}

.header-photo {
 width: 100%;   
}

.less { 
    width: 20%;
    padding: 5%;
}

main {
 height: 100vh;
    margin: 0 0 0 0;
}

.more { 
    width: 40%;
    padding: 5%;
}

ol, ul {
 display: block;
    list-style-type: none;
    padding-left: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    line-height: 145%;
}

p b {
 color: #A0953F;   
}

.parallax {
    position: relative;
height: 100vh;

}

.layer {
 position: absolute;
}

.layer-back {

   
}

.layer-back figure {
}
.layer-back img {
    width: 100%;

}

.layer-front img{
    width: 100%;
}

section {
 width: 100%;
    padding: 0;
    margin: 0;
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}